* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FBF9EF;
    padding: 0px 6%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    float: left;
    width: 100%;
    border-bottom: 1px dotted #5D5A53;
    margin-bottom: 10px;
}

    #header h1 {
        font-size: 18px;
        float: left;
        background: url(/content/Images/logo.png) no-repeat;
        padding: 45px 0px 5px 0px;
        text-decoration: none;
        
    }

    #header h1 a {
        text-decoration: none;
    }

    #header h1 a, h3 em {
        color: #5E5B54;
    }

 #footer {
    clear: both;
    padding: 10px;
    text-align: right;
    border-top: 1px dotted #8A8575;
    border-bottom: 1px dotted #8A8575;
    font-family: Constantia, Georgia, serif;
}

ul {
    list-style-type: square;
    margin-left: 25px;
    font-size: 14px;
}

ul li {
    font-size: 16px;    
}

#main {
    overflow: hidden;
    padding: 0 0 15px 10px;
    float: left;
}

/******************** Top Navigation ************************/
ul#navlist {
    float: right;
}

    ul#navlist li {
        display: inline;
    }

        ul#navlist li a {
            border-left: 1px dotted #8A8575;
            padding: 10px;
            margin-top: 10px;
            color: #8A8575;
            text-decoration: none;
            float: left;
        }

        ul#navlist li:first-child a {
            border: none;
        }

        ul#navlist li a:hover {
            color: #F6855E;
        }

        ul#navlist li a#storeAccountNavbarItem {
            color: white
        }

/********************* End top navigation ***************************/

/******************** SideBar Navigation ************************/

#sideBarList {
    font-family: Constantia, Georgia, serif;
    list-style-type: none;
    border-right: #5d5a53 1px dotted;
    padding-right: 10px;
    margin: 0 55px 0 0;
    float: left;
    width: 15%
}

   #sideBarList a:link, #categories a:visited {
        color: #9B9993;
        text-decoration: none;
    }

    #sideBarList a:hover {
        color: #F46739;
    }

    
/******************** End StoreView sidebar Genre Navigation ************************/

/******************** StoreView Jumbatron image ************************/

@media screen and (min-width:640px) {
    #promotion {
        height: 300px;
        width: 700px;
        background: url(/content/Images/home-showcase.png) no-repeat;
    }
}

#storeView .jumbotron {
    background: url(/content/Images/home-showcase.png) no-repeat;
    height: 300px;
    width: 700px;
        
}

/******************** End StoreView Jumbatron image ************************/

/******************** Albums List ************************/

#albumsList {
    font-family: Constantia, Georgia, serif;
    list-style-type: none;
    border-right: #5d5a53 1px dotted;
    padding-right: 10px;
    margin: 0 55px 0 0;
    /*float: left;*/
    /*width: 95%*/
}

 #albumsList a:link, a:visited {
        color: #9B9993;
        text-decoration: none;        
    }

  #albumsList a:hover {
        color: #F46739;
    }

ul#albumsList li{
    padding-right: 50px;
    font-size: 12px;
    display: inline-block;

}

.error {
    color: red;
}

.creditCardRow {
    font-family: Constantia, Georgia, serif;
    list-style-type: none;
    border: 0px;
    /*background-color: lightgoldenrodyellow*/
    /*float: left;*/
    /*width: 95%*/
}


ul.creditCardRow li {
    
    font-size: 12px;
    display: inline;
    
}

/*ul#albumsList li a {
     border-left: 1px dotted #8A8575;
     padding-left: 5px;
     font-size: 12px
}*/

.shoppingCartItemRow {
    font-family: Constantia, Georgia, serif;
    list-style-type: none;
    border: 0px;
    /*background-color: lightgoldenrodyellow*/
    /*float: left;*/
    /*width: 95%*/
}


ul.shoppingCartItemRow li {
    
    font-size: 12px;
    display: inline;
    
}

#checkoutList {
    font-family: Constantia, Georgia, serif;
    list-style-type: none;
    border-right: #5d5a53 1px dotted;
    padding-right: 10px;
    margin: 0 55px 0 0;
    /*float: left;*/
    /*width: 95%*/
}

 #checkoutList a:link, a:visited {
        color: #9B9993;
        text-decoration: none;        
    }

  #checkoutList a:hover {
        color: #F46739;
    }

ul#checkoutList li{
    padding-right: 50px;
    font-size: 12px;
    display: inline;

}
