<div>
    <a href="#/">Back to store</a>
    <div>
        <label for="sortOrder">Sort by:</label>
        <select id="sortOrder" name="orderby"  class="dropdown" data-ng-model="selectedSortOrder">
            <option value="{{i.sortType}}" 
                    required data-ng-repeat="i in sortOrderTypes">{{i.displayName}}</option>            
        </select>
    </div>
    <h2>{{artist.name}}></h2>
    <h5>{{artist.description}}</h5>
    <div>        
    </div>
    <br />
    <div>
        <div>
            <ul id="albumsList">
                <li data-ng-repeat="i in artist.albums | orderBy: selectedSortOrder"  >
                    <table>
                        <tr>
                            <th>
                                <img alt="/Content/Images/placeholder.gif" src={{i.albumArtUrl}} />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a ui-sref="album({albumId: i.albumId})">{{i.title}}</a>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                {{ artist.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ui-sref="genre({genreId: artist.genre.genreId})">{{ artist.genre.name}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{i.price | currency:"£"}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">Rating: {{i.totalStarRating}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" class="btn btn-primary btn-xs" value="Add to cart"
                                       data-ng-click="addToBasket(i)" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ui-sref="checkout({storeAccountId: storeAccount.storeAccountId, albumId: i.albumId})" class="btn btn-success btn-xs" style="color: white">Buy Now</a>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>